<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="extentDemo">
    <test name="extentTest">
        <classes>
            <class name="top.rex.extent.TestMethodsDemo">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>
                </methods>
            </class>
        </classes>
    </test>
    <!-- extent-report 监听器配置 -->
    <listeners>
<!--        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <listener class-name="top.rex.extent.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>